
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

.profile-card {
	width: 480px;
  max-width: calc(100vw - 10px);
  background-color:rgba(255,255, 255, 0.5);
  border-radius: 40px;
  box-shadow: rgba(255,255, 255, 0.9) 0px 0px 20px 10px;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.imgur.com/toKVTGt.jpg') no-repeat center center fixed;
  background-size: cover;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(90%);
}

.profil-image {
  margin-top: -60px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;  
  filter: grayscale(100%);
}

li:hover {
  filter: grayscale(10%);
}

.content {
  padding: 5% 10% 2%;  
}

.links {
  margin: 3% 10% 0%;
}

.profil-image {
  margin-bottom: 5%;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(30%);
}

h1 {
  font-size: 28px;
  line-height: 0.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
	padding: 0% 0% 1%;
}

h2 {
  font-size: 18px;
  line-height: 2;
}

.about {
  text-align: center;
	font-size: 17px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-weight: 600; 
	padding: 5% 0% 5%;
	border-top: 1.5px solid hsla(0, 0%,10%, .8);
	border-bottom: 1.5px solid hsla(0, 0%,10%, .8);
}
